@import 'reset.css';
@import 'fonts.css';
@import 'footer.css';


.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 1rem;
    display: flex;
    text-align: center;
    justify-content: center;
}

.subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 1rem;
    display: flex;
    text-align: center;
    justify-content: center;
}

.media-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.media-container video,
.media-container img {
    width: calc(33.33% - 20px); /* Adjust the width and gap as needed */
    height: auto;
    margin: 10px; /* Adjust the margin as needed */
    max-width: 100%; /* Ensure the images and videos don't exceed their container */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

/* Add this CSS to your existing stylesheet or create a new one */

@media only screen and (max-width: 768px) {
    .media-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Center the content horizontally */
        align-items: center;
        text-align: center; /* Center the content vertically */
    }

    .media-container video,
    .media-container img {
        width: calc(100% - 20px); /* Adjust the gap as needed */
        height: auto;
        margin: 10px; /* Adjust the margin as needed */
        max-width: 100%; /* Ensure the images and videos don't exceed their container */
        object-fit: cover; /* Maintain aspect ratio and cover the container */
    }
}

@media only screen and (min-width: 769px) {
    .media-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Center the content horizontally */
        align-items: center;
        text-align: center; /* Center the content vertically */
    }

    .media-container video,
    .media-container img {
        width: calc(33.33% - 20px); /* Adjust the width and gap as needed */
        height: auto;
        margin: 10px; /* Adjust the margin as needed */
        max-width: 100%; /* Ensure the images and videos don't exceed their container */
        object-fit: cover; /* Maintain aspect ratio and cover the container */
    }
}
