@import 'reset.css';
@import 'fonts.css';
@import 'footer.css';

.title {
    text-align: center;
    margin: 30px;
    font-family: 'Rujis-Handwriting';
    font-size: xx-large;
}

footer {
    text-align: center; /* Center-align the text inside the footer */
}

/* Add any additional styles for your other elements if needed */
