@font-face {
    font-family: Sniglet-Regular;
    src: url('../fonts/Sniglet/Sniglet-Regular.ttf');

  }
@font-face {
    font-family: Sniglet-Extrabold;
    src: url('../fonts/Sniglet/Sniglet-ExtraBold.ttf');
  }
  @font-face {
    font-family: Rujis-Handwriting;
    src: url('../fonts/rujis-handwriting-font-v20/RujisHandwritingFontV20-vrqZ.ttf');
  }