@import 'reset.css';
@import 'fonts.css';

/* Add a black background color to the top navigation */
.navbar {
  border: 1px solid #ffffff;
  border-width: 1px 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center; /* « The magic. */
  background-color: rgb(243, 243, 243);
}

.navbar li {
  display: inline; /* « More magic. */
  transition: transform 0.3s ease; /* Add transition for smooth animation */
}

.navbar li:hover {
  transform: scale(1.1); /* Enlarge text on hover */
}

.navbar a {
  text-decoration: none;
  font-family: Sniglet-ExtraBold;
  display: inline-block; /* « Last bit of magic. */
  padding: 10px;
  color: #ffd900;
  -webkit-text-stroke-width: 0.2vmin;
  -webkit-text-stroke-color: #000000;
  font-size: 3vmin;
  transition: transform 0.3s ease; /* Add transition for smooth animation */
}

.navbar a:hover {
  transform: scale(1.1); /* Enlarge text on hover */
}

.logo a {
  text-align: center;
  font-family: Sniglet-ExtraBold;
  color: #FFC629;
  margin-left: 0px;
  font-size: 9vmin;
  -webkit-text-stroke-width: 0.2vmin;
  -webkit-text-stroke-color: #000000;
  transition: transform 0.3s ease; /* Add transition for smooth animation */
}

.logo a:hover {
  transform: scale(1.1); /* Enlarge text on hover */
}
