/* Add a black background color to the top navigation */
  
  /* Style the links inside the navigation bar */
  .navbar a {
    color: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    font-family: Sniglet-Regular;
    font-size: 2.5vmin
}
  
  /* Change the color of links on hover */
  .navbar a:hover {
    color: rgb(114, 22, 22);
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    color: rgb(114, 22, 22);
  }