<div class="footer-content">
    <link rel="stylesheet" href="/assets/components/footer/css/footer-styles.css">
    <div class="footer">
        <div class="footer-portrait">
            <img id="random-portrait" alt="Portrait">
        </div>
        <div class="footer-info">
            <h1>INVOLVED AT</h1>
            <p>
                <a href="https://acu.nl" target="_blank">
                    <img src="/assets/components/footer/media/acu.svg" alt="ACU Logo" height="200px">
                </a>
            </p>
            <p>ACU</p>
        </div>
    </div>
</div>
<script src="/assets/components/footer/js/footer-script.js"></script>