<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Project Title</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="Project Description" />
  <link href="https://cdn.jsdelivr.net/npm/modern-normalize@v3.0.1/modern-normalize.min.css" rel="stylesheet">
  <link rel="icon" href="/assets/common/images/favicon.png">
  <link rel="stylesheet" href="/assets/fonts/fonts.css">
  <link rel="stylesheet" href="/assets/components/navbar/css/navbar-styles.css">
</head>
<body>
    <div class="navbar">
        <h3><a href="/pages/index.html">‧͙*+:｡.｡ HannahFantasia ｡.｡:+*</a></h3>
        <div id="navbar-container"></div>
        <script src="/assets/components/navbar/js/navbar-script.js"></script>
        <script src="/assets/components/navbar/js/navbar-essentials.js"></script>
    </div>
</body>
</html>